.userContainer{
  display: flex;
justify-content: flex-start;
  align-items: flex-end;
}
.userName{
  color: #FFFFFF;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  text-transform: uppercase;
}
.surname{
  margin-right: 18px;
}
.userLogin{
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
.userPic{
  margin-right: 25px;
  height: 300px;
}
.coursesBlock{
  min-height: 760px;
}
.userBlock{
  margin-bottom: 75px;
}
.userNameContainer{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 600px){
  .userPic{
    width: 109px;
    height: 109px;
  }
  .userName{
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .userLogin{
    font-size: 13px;
    line-height: 9px;
    margin-top: 10px;
  }
  .userBlock{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .userInfoContainer{
    margin-bottom: -11px;
  }

}