.menu{
  display: none;
  &__active{
    overflow:hidden;
    min-width: 100vw;
    height: 100vh;
  }
}

.menu_header{
  display: flex;
  justify-content: space-between ;

}

.blockForCross{
  display: flex;
  justify-content: flex-start;
}
.menu_item{margin-bottom: 21px;}

.content{
 margin-top: 44px;
}
.menu_items{
  margin-top: 63px;

}

.menu_footer{
  margin-top: 56px;
}

.footer_item{
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #898989;
  margin-bottom: 22px;
  &:hover {
    opacity: 0.2;
    color: #FFE924;
  }
}

@media (min-width:581px) {
  .menuCross{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 581px) {
  .menuCross{
   margin-top: 18px;
  }
}
@media screen and (min-width:581px) and (max-width:599px) {
  .menuCross{
    margin-top: 16px;
  }
}
@media (min-width:600px) {
  .menuCross{
    margin-top: 27px;
  }
}