@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text Medium'), local('GolosText-Medium'), url('fonts/Golostextmedium.woff2') format('woff2'), url('fonts/Golostextmedium.woff') format('woff'), url('fonts/Golostextmedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
* {
  font-family: 'Golos Text';
}

.text {
  &__gold{
    color: #FFE924;
  }
  &__white{
    color: #FFFFFF;

  }
  &__grey{
    color: #898989;
  }
  &__black{
    color: #1C1C1C;
  }

  &__main_header{
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;

  }
&__main_header_login{
  font-weight: 600;
  text-transform: uppercase;
}
  &__second_header{
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description_text{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  &__footer_links{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: lowercase;
}
  &__box_items{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 46px;
    text-transform: uppercase;
  }

  &__numbers{
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 34px;
    text-transform: uppercase;
  }

  &__text_for_numbers{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__greyText_under_main_header{
    font-style: normal;
    font-weight: 500;

  }
  &__inputText{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    text-transform: uppercase;
    color: #F1F1F1;

  }

}

@media (max-width: 376px) {
  .text {
    &__main_header {
      font-size: 34px;
      line-height: 42px;
    }
    &__main_header_login{
      font-size: 34px;
      line-height: 42px;

    }

    &__second_header {
      font-size: 22px;
      line-height: 24px;
    }

    &__description_text {
      font-size: 14px;
      line-height: 16px;
    }

    &__footer_links {
      font-size: 14px;
      line-height: 19px;
    }

    &__box_items {
      font-size: 12px;
      line-height: 30px;
    }

    &__numbers {
      font-size: 89.2174px;
      line-height: 21px;
    }

    &__text_for_numbers {
      font-size: 14px;
      line-height: 21px;
    }

    &__greyText_under_main_header {
      font-size: 14px;
      line-height: 16px;
    }
  }

}

@media (min-width: 377px) { .text {
  &__main_header {
    font-size: 40px;
    line-height: 46px;
  }

  &__second_header {
    font-size: 22px;
    line-height: 26px;
  }

  &__description_text {
    font-size: 16px;
    line-height: 18px;
  }

  &__footer_links {
    font-size: 16px;
    line-height: 19px;
  }

  &__box_items {
    font-size: 15px;
    line-height: 30px;
  }

  &__numbers {
    font-size: 89.2174px;
    line-height: 21px;
  }

  &__text_for_numbers {
    font-size: 14px;
    line-height: 21px;
  }

  &__greyText_under_main_header {
    font-size: 15px;
    line-height: 18px;
  }
  &__main_header_login{
    font-size: 34px;
    line-height: 42px;

  }
}}


@media (min-width: 581px) {
  .text {
    &__main_header {
      font-size: 44px;
      line-height: 48px;
    }
    &__main_header_login{
      font-size: 48px;
      line-height: 69px;

    }

    &__second_header {
      font-size: 24px;
      line-height: 28px;
    }


    &__greyText_under_main_header {
      font-size: 16px;
      line-height: 20px;
    }
    &__footer_links {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      text-transform: lowercase;
    }
  }

}

@media (min-width: 900px) {
  .text {
    &__main_header {
      font-size: 50px;
      line-height: 54px;
    }

    &__second_header {
      font-size: 28px;
      line-height: 32px;
    }


    &__greyText_under_main_header {
      font-size: 19px;
      line-height: 22px;
    }


  }
}

@media (min-width: 1200px) { .text {
  &__main_header {
    font-size: 55px;
    line-height: 59px;
  }

  &__second_header {
    font-size: 32px;
    line-height: 34px;
  }


  &__greyText_under_main_header {
    font-size: 22px;
    line-height: 27px;
  }
  &__description_text {
    font-size: 16px;
    line-height: 20px;
  }

  &__footer_links {
    font-size: 16px;
    line-height: 19px;
  }

  &__box_items {
    font-size: 18px;
    line-height: 46px;
  }

  &__numbers {
    font-size: 90px;
    line-height: 34px;
  }

  &__text_for_numbers {
    font-size: 18px;
    line-height: 22px;
  }




}}

@media (min-width: 1300px) { }

@media (min-width: 1800px) { }
