.container {
  max-width: 1166px;
  width: 1166px;
  margin: 0 auto;
  position: relative;

}

  @media (max-width: 580px) {.container {
    max-width: 314px;
  }  }


  @media (min-width: 581px) {.container {
    max-width: 556px;
  } }


  @media (min-width: 900px) { .container {
    max-width: 800px;
  }}

  @media (min-width: 1200px) {.container {
    max-width: 1000px;
  } }

@media (min-width: 1300px) {.container {
  max-width: 1166px;
} }

  @media (min-width: 1800px) {.container {
    max-width: 1500px;
  } }
@media (max-width: 376px) {.container {
  max-width: 310px;
}}

@media (max-width: 281px) {.container {
  max-width: 260px;
}}


