.header {
  position: relative;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  height: 20vh;

  &__linkProfsoft{
    text-decoration: none;
    color: #898989;
    font-weight: 500;
    margin-right: 37px;
    font-size: 22px;
    line-height: 27px;
    &:hover {
      opacity: 0.5;
      color: #898989;
  }
    &:active{
      color: #FFE924;
      font-weight: 500;
      font-size: 22px;
      margin-right: 32px;

    }
  }

  &__link, &__link__entry {
    text-decoration: none;
    color: #898989;
    font-weight: 500;
    margin-right: 37px;
    font-size: 22px;
    line-height: 27px;
    &:hover {
      opacity: 0.5;
      color: #898989;
    }
    &__entry {
      color: #FFFFFF;
    }
    &:last-child{
      margin-right: 0;
    }

  }
  &__link__active {
    color: #FFE924;
    font-weight: 500;
    font-size: 22px;
    margin-right: 32px;
    &:hover {
      color: #FFE924;
    }
  }


}
.red {
  opacity: 0.5;
}
.menu{
display: none;
}

.cross{
  position: absolute;
  left:98%;
  bottom: -11.5%;
}

.hide{
  display: none;
}

@media (max-width: 376px) {
  .cross {
    display: none;
  }
  .header {
    padding-top: 19px;
    height: 48px;

    &__linkProfsoft{
      display: none;
      &:hover {
        display: none;
      }
      &:active{
        display: none;

      }
    }

    &__link, &__link__entry {
      display: none}

    &__link__active {
      display: none;
    }

  }
  .logo{
    max-width: 184.52px;
    max-height: 14.21px;

  }



  }



@media (max-width: 599px) {
  .header {
    padding-top: 19px;
    height: 48px;

  }
  .logo{
    width: 184.52px;
    height: 14.21px;
  }


}




@media (max-width: 900px) {
  .logo{
    max-width: 200.52px;
    max-height: 18.21px;

  }
  .header {
    &__linkProfsoft {
      display: none;

      &:hover {
        display: none;
      }

      &:active {
        display: none;

      }
    }

    &__link, &__link__entry {
      display: none
    }

    &__link__active {
      display: none;
    }
  }
  .cross {
    display: none;
  }
}

@media (max-width: 901px) {
  .menu{
    display: block;
  }
}

@media screen and (min-width:581px) and (max-width:901px) {
  .menu{
    width: 20px;
    height: 20px;
  }
}


@media (max-width: 581px) {
  .menu{
    margin-top: 8px;
  }
}

@media (min-width: 1800px) { }





