.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .footer {
    flex-direction: column;
    padding: 0 30px 31px 30px;
    &__item {
      padding-bottom: 20px;
      &:nth-child(2) {
        padding-bottom: 0;
      }
    }
  }
}