.footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 20vh;

}

.footerLinks{
  padding-top: 2%;
  width: 276px;
}
@media (max-width: 600px) {
  .footer {
    height: 270px;
    flex-direction: column;
    padding-bottom: 31px;
  }

  .footerLinks{
    padding-top: 23px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
  }
  .fistLinkInGroup{

    margin-bottom: -11px;
  }
  .instagramLink{
    margin-top: -32px;
    margin-bottom: -10px;
  }
  .vk{
    margin-top: -15px;
  }
}
