.loginBlockContainer{
  height: 60vh;
}

.login_header{
  padding-top: 100px;
}
.input{
  width: 277px;
  height: 61px;
  background: transparent;
  border: 2px solid #898989;
  border-radius: 42px;
  font-size: 18px;
  line-height: 46px;
  outline: none;
  align-items: center;
  padding: 0 20px 0 20px;
  color: #F1F1F1;
  caret-color:#FFE924;
}
.form_container{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block_for_form{
  margin-top: 50px;
}

.white_arr{
  outline: none;
  border: 0;
  width: 39px;
  height: 21.61px;
  background: transparent url('../../assets/arrow-white.svg') no-repeat center;
}
.supportPar{
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #919191;
  margin-bottom: 2px;
}
.whiteLink{
  color: #FFFFFF;
}

.supportParContainer{
  margin-top: 30px;
}
.innerSupportParCont{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 352px;
}