

.login_header{
  padding-top: 100px;
}
.input{
  margin-right: 20px;
  width: 277px;
  height: 61px;
  background: transparent;
  border: 2px solid #898989;
  border-radius: 42px;
  font-size: 18px;
  line-height: 46px;
outline: none;
  align-items: center;
  padding: 0 20px 0 20px;
  color: #F1F1F1;
  caret-color:#FFE924;
}
.form_container{
  //max-width: 55%;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.block_for_form{
  margin-top: 50px;
}

.white_arr{
  outline: none;
  border: 0;
  width: 36.61px;
  height: 21.61px;
  background: transparent url('../../assets/whiteArr.svg') no-repeat center;
}
.supportPar{
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #919191;
  margin-bottom: 2px;
}
.whiteLink{
  color: #FFFFFF;
}

.supportParContainer{
  //display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //max-width: 340px;
  margin-top: 30px;
}
.innerSupportParCont{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 352px;
}

@media (max-width: 580px)  {
  .loginBlockContainer{
    border-bottom: 2px solid #898989;
  }

  .input{
    margin-right: 15px;
    max-width: 220px;
    max-height: 40px;
    border: 1.3138px solid #898989;
    border-radius: 20px;
    font-size: 11.8242px;
    line-height: 30px;
    outline: none;
    align-items: center;
    padding: 0 20px 0 20px;
    color: #F1F1F1;
    caret-color:#FFE924;
  }
  .white_arr{
    background: transparent url('../../assets/wh_arr_small.svg') no-repeat center;
  }
  .supportPar{
    font-size: 14px;
    line-height: 16px;
  }
  .supportParContainer{
    margin-bottom: 93px;
    margin-top: 20px;
    max-width: 200px;
  }
}
@media (max-width: 900px){
  .input{
    margin-bottom: 15px;
  }
}

@media (min-width: 600px){
   .loginBlockContainer{
    margin-bottom: 166px;
  }

}

