.personal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 110px;
  margin-bottom: 75px;

  &__img {
    width: 276px;
    height: 276px;
    background: url("../../assets/avatar.jpg") no-repeat;
    background-size: contain;
    margin-right: 20px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
  &__username{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__name {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__email {
    font-size: 22px;
  }
}