.direction {
  display: flex;
  flex-direction: column;
  padding-top: 105px;
  padding-bottom: 105px;
  &__info {
    width: 870px;
  }
  &__title {
    position: relative;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    &:after {
      position: absolute;
      content: '';
      width: 39px;
      height: 24px;
      background: url("../../assets/arrow-white.svg");
      right: 300px;
      top: 5px;
    }
  }
  &__subtitle {
    font-size: 18px;
    margin-top: 15px;
  }
  &:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url("../../assets/plus.svg");
    right: 20px;
    top: 100px;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.image {
  width: 277px;
  height: 277px;
  border-radius: 18px;
  background-color: #292929;
  margin-bottom: 20px;
}

.line {
  display: none;
}

@media (max-width: 375px) {

  .direction {
    padding: 30px 30px 40px 30px;
    &__info {
      width: 315px;
    }
    &__title {
      font-size: 22px;
      &:after {
        display: none;
      }

    }
    &__subtitle {
      font-size: 14px;
      margin-top: 15px;
    }
    &:after {
      display: none;
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .image {
    width: 152px;
    height: 152px;
    border-radius: 18px;
    background-color: #292929;
    margin-bottom: 20px;
  }
  .line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #898989;
    border-radius: 10px;
  }
}